Against a backdrop of global change and for the benefit of society, our objective is to develop and apply world-leading, integrated marine science towards the sustainable future of the ocean.
<br/>
<br/>
For more information, visit the <a href='http://www.pml.ac.uk'>PML website</a>
<br/>
<br/>
The picture on the fromt page is "<a href="https://www.flickr.com/photos/50144889@N08/13973617311/in/album-72157627451317808/">Plymouth Hoe Panorama</a>" by <a href='https://www.flickr.com/photos/50144889@N08/'>Robert Pittman</a> and is licenced under <a href="https://creativecommons.org/licenses/by-nd/2.0/">CC BY-ND 2.0</a>

