body,
.banner,
.media-view:hover,
.media-view.hovered,
.media-view:hover .banner,
.media-view.hovered .banner,
.homepage .module-search .module-content,
.masthead,
.site-footer,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-group.open .btn-primary.dropdown-toggle,
.control-custom.disabled .checkbox.btn:hover,
.control-custom.disabled .checkbox.btn:focus,
.control-custom.disabled .checkbox.btn:active,
.control-custom.disabled .checkbox.btn.active,
.control-custom.disabled .checkbox.btn.disabled,
.control-custom.disabled .checkbox.btn[disabled]{
   background-color: #016676;
}

.btn-primary,
.control-custom.disabled .checkbox.btn {
  background-color: #1a7583;
  background-image: -moz-linear-gradient(top, #338491, #016676);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#338491), to(#016676));
  background-image: -webkit-linear-gradient(top, #338491, #016676);
  background-image: -o-linear-gradient(top, #338491, #016676);
  background-image: linear-gradient(to bottom, #338491, #016676);
  border-color: #016676 #016676 #03202a;
  background-color: #016676;
}

.hero{
   background: url("//c2.staticflickr.com/6/5299/13973617311_049413f6ca_k.jpg");
   background-size:cover;
   background-position: center;
}

.homepage.layout-1 .row1 .col2 {
   position: absolute;
   top: 30px;
   right: 0px;
   width: 700px;
}

.header-image img{
   width:200px;
   padding-top:5px;
}